{% extends 'main.html' %}

{% block content %}

<hr>

<ul>
    <table>
        <tr>
            <th>Project Title</th>
            <th>Date Created</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td><a href={% url 'project' project.id %}>{{ project.title }}</a></td>
            <td>{{ project.created }}</td>
            {# In the line above we are saying that this is a link to /project and a specified project id. #}
        </tr>
        {% endfor %}
    </table>
    {% for project in projects %}
        {# In the line above we are saying that this is a link to /project and a specified project id. #}
    {% endfor %}
</ul>

{% endblock content %}